// Mixin
// SASS Mixins
// --------------------------------------------------

// Button Small
@mixin btn-small() {
  font-size: 12px;
  padding: 0 15px;
  height: 30px;
  line-height: 30px;
}

@mixin dropdown-arrow() {
  font-family: FontAwesome;
  font-size: 18px;
  line-height: 36px;
  text-align: center;
  color: #555;
  content: "\f105";
  text-indent: 0px;
}
