// Page
// Styles for panels
// --------------------------------------------------

//right sidebar
.burr-flipped-sidebar .panel-pane {
  .form-item {
    margin: 0;
    padding: 0;
  }
  .btn, .button {
    margin-top: 2px;
    margin-bottom: 2px;
    margin-right: 2%;
  }
}
